@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    padding: 0;
    margin: 0;
}
header{
    text-align: center;
    font-size: 10vh;
    font-family: 'Audiowide';
    background-color: #0805be;
    margin: 1vh;
    color: #f2f2f2;
}

nav{
    display: flex;
    height: 60px;
    width: 100%;
    background: #0805be;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
}

nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: rgb(255, 255, 255);
}
.menu ul input, label{
    display: none;
}

.contenedor_formulario{
    width: 700px;
    height: auto;
    margin: 10px auto;
}

.form-group label{
    display: inherit;
    font-weight: 500;
}
.form-group textarea{
    max-height: 400px;
    min-height: 400px;
}
.boton-eliminar{
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 800;
    border: 0;
    display: inline-block;
    background: #0805be;
    color: #fff;
}
.boton-eliminar:hover{
    color: rgb(0, 0, 0);
    background: rgb(51, 174, 231);
    cursor: pointer;
}
.boton{
    width: 100px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 800;
    border: 0;
    display: block;
    padding: 10px;
    margin: 10px auto ;
    background: #0805be;
    color: #fff;
}
.boton:hover{
    color: rgb(0, 0, 0);
    background: rgb(51, 174, 231);
    cursor: pointer;

}
.SliderContent{
    max-width: 1000px;
    max-height: 800px;
    width: 70%;
    height: 50%;
    margin: auto;
}
.carousel-item img{
    width: inherit;
    height: inherit;
}
.Contenido, .Contenido-2{
    text-align: justify;
    width: 80%;
}
.Contenido-2 h2{
    text-align: justify;
    text-align: right;
}
.Contenido h2{
    padding: 5px;
    border-bottom:3px solid #0805be;
    border-left: 2px solid #0805be;
}
.Contenido-2 h2{
    padding: 5px;
    border-bottom:3px solid #0805be;
    border-right: 2px solid #0805be;
}


.administrar{

    width: 250px;
    height: auto;
    display: block;
    border-top: 1px solid black;
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.administrar h2,h3{
    margin: 10px;
}
.articulo{
    margin: 10px;
    display: inline-block;
    position: relative;
    border: 1px solid black;

}
.articulo img{
    width: 150px;
    height: 150px;
    display: block;
    margin: 10px auto;
    object-fit: fill;
}
.Inventario p{
    font-size: 5vh;
    text-align: center;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
section{
    width: 80%;
    height: auto;
    margin: 10px auto;
    border-radius: 5px;
}





